<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>


<ng-template #divPais>

    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{pais.name}}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flag" [alt]="pais.name" class="img-thumbnail zoom">

        </div>

        <div class="col">
            <h3>Informacion</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Poblacion:</strong> {{pais.population | number}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-md-6">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header text-center"><h3>Fronteras</h3></div>
                <div class="card-body">
                    <ul *ngFor="let frontera of pais.borders" class="list-group">
                        <li class="list-group-item text-center">
                            {{frontera}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header text-center"><h3>Fronteras</h3></div>
                <div class="card-body">
                    <ul *ngFor="let frontera of pais.altSpellings" class="list-group">
                        <li class="list-group-item text-center">
                            {{frontera}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        
        


    </div>

    



</ng-template>