<table class="table table-striped table-dark ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Bandera</th>
            <th scope="col">Nombre</th>
            <th scope="col">Capital</th>
            <th scope="col">Poblacion</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises | slice: (page-1) * pageSize : page * pageSize; index as i" class="animate__animated animate__fadeIn">
            <th scope="row">{{ i+1 }}</th>
            <td><img [src]="pais.flag" [alt]="pais.name" class="img-size zoom"></td>
            <td>{{pais.name}}</td>
            <td>{{pais.capital}}</td>
            <td>{{pais.population | number}}</td>
            <!-- hay que llamar el router module en el module para que funciones el router link -->
            <td><a [routerLink]="['/pais', pais.alpha2Code]">Ver mas...</a></td>
        </tr>

    </tbody>

</table>




<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="paises.length"></ngb-pagination>