<h2>Por pais:</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias( $event)" placeholder="Digite su pais..."></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError" class="alert alert-danger text-center">
    <h3>No hay resultados con el termino {{termino}}</h3>
</div>

<div *ngIf="this.paises.length>0;" class="row">
    <div class="col">
<!-- aqui va la tabla -->
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>